$greenColor: #239108;
$boxShadow : #9b9a9a83;
$noteHover : rgba(158, 155, 155, 0.678)000;

.main{
    width: 90%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Side Container starts

    .SideContainer{
        flex: 0.30;
        height: 100%;
        display: flex;
        flex-direction: column;

        header{
            width: 100%;
            height: 7vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            padding: 0.2rem 1rem;
            box-shadow: 0 5px 5px $boxShadow;
            border-radius: 10px;
            
            h1{
                font-size: 1.5rem;
            }
            i.fas, i.far{
                color: $greenColor;
                font-size: 1.5rem;
                cursor: pointer;
                transition: transform 0.6s;
            }
            i.fas:hover, i.far:hover{
                transform: scale(1.3);
            }
        }
        .allNotes::-webkit-scrollbar{
            display: none;
        }
        .allNotes{ 
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            list-style: none;

            .note:hover, .note.active{
                background: $greenColor;
                .title{
                    p, h1{
                        color: #c9c9c9; 
                    }
                    
                }
                p.body{
                    color: #c9c9c9;
                }
            }
            .note{
                width: 100%;
                height: 10vh;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                box-shadow: 0 0 20px $boxShadow;
                cursor: pointer;
                transition: background 0.6s;

                .title{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    h1{
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                    p{
                        font-size: 0.8rem;
                        color: #808080;
                        font-weight: 700;
                    }
                    i{
                        color: #e00909;
                        font-size: 1.3rem;
                        cursor: pointer;
                    }
                }
                p.body{
                    color: #5e5c5c;
                    font-size: 0.8rem;
                    margin-top: 0.3rem;
                    font-weight: 500;
                }
            }

        }
    }
    // Text Container starts

    .TextContainer{ 
        flex: 0.65;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        header{
            width: 15%;
            height: 5vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .column{// background: goldenrod;
                flex: 0.48;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px 20px 0 0;
                box-shadow: 0 0 20px #23910848;

                .fas{
                    font-size: 1.2rem;
                    margin-right: 0.5rem;
                    text-align: center;
                    cursor: pointer;
                    transition: color 0.4s;
                }
                .fas:hover, .active{
                    color: $greenColor;
                }
                p{
                    font-weight: 400;
                    font-size: 0.8rem;
                }
            }
        }
        .inputArea.markdownBox{
            padding: 2rem;
            overflow-y: scroll;
        }
        .inputArea{
            width: 100%;
            height: 85vh;
            box-shadow: 0 0 20px #23910848;
            border-radius: 0 20px 20px 20px;

            input{
                width: 90%;
                height: 6vh;
                background-color: transparent;
                border: none;
                padding: 1rem 2rem;
                font-size: 1rem;
                outline: none;
                font-weight: 700;
            }
            input::placeholder{
                color: grey;
            }

            textarea{
                resize: none;
                width: 100%;
                height: 74vh;
                border: none;
                outline: none;
                background: transparent;
                padding: 1rem;
                font-size: 1rem;
            }
            .no-note-selected{
                margin-top: 50%;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .main{
        flex-direction: column;
        height: auto;

        .SideContainer{
            flex: 1;
        }
    }
}